Alison Walter <awalter2@wisc.edu> <awalter17@users.noreply.github.com>
Andreas Graumann <andreas.graumann@uni-konstanz.de> <agraumann@biodataanalysis.de>
Aparna Pal <aparna.pal.1994@gmail.com>
Christian Birkhold <christian.birkhold@knime.com> <christian.dietz@knime.com>
Christian Birkhold <christian.birkhold@knime.com> <christian.dietz@uni-konstanz.de>
Christian Birkhold <christian.birkhold@knime.com> <dietzc85@googlemail.com>
Daniel Seebacher <daniel.seebacher@gmail.com> <danielseebacher@t-online.de>
Daniel Seebacher <daniel.seebacher@gmail.com> <seebacherd@users.noreply.github.com>
Dave Niles <dave.j.niles@gmail.com>
Deborah Schmidt <mail@frauzufall.de>
Ellen Dobson <arenaellen@gmail.com>
Eric Czech <eczech52@gmail.com>
Gabe Selzer <gabeselzer@gmail.com>
Gabriel Einsdorf <gabriel.einsdorf@knime.com> <gabriel.einsdorf@uni-konstanz.de>
Gabriel Einsdorf <gabriel.einsdorf@knime.com> <gabriel.einsdorf@uni.kn>
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com> <Squareys@googlemail.com>
Kyle Harrington <kharrington@uidaho.edu> <kyleh@cs.brandeis.edu>
Leon Yang <leon.gh.yang@gmail.com> <leonyang1994@gmail.com>
Leon Yang <leonyang1994@gmail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Michael Zinsmaier <michael.zinsmaier@googlemail.com>
Richard Domander <richard.domander@gmail.com>
Richard Domander <richard.domander@gmail.com> <rdomander@rvc.ac.uk>
Robert Haase <robert.haase@tu-dresden.de>
Robert Haase <robert.haase@tu-dresden.de> <rhaase@mpi-cbg.de>
Robert Haase <robert.haase@tu-dresden.de> <rhaase@scicomp-mac-2-tb.mpi-cbg.de>
Robert Haase <robert.haase@tu-dresden.de> <rhaase@scicomp-mac-2-wifi.mpi-cbg.de>
Simon Schmid <simon.schmid@uni-konstanz.de>
Stefan Helfrich <stefan.helfrich@knime.com> <s.helfrich@fz-juelich.de>
Stefan Helfrich <stefan.helfrich@knime.com> <stefan.helfrich@googlemail.com>
Stefan Helfrich <stefan.helfrich@knime.com> <stefan.helfrich@uni-konstanz.de>
Tim-Oliver Buchholz <tibuch@mpi-cbg.de>
Tim-Oliver Buchholz <tibuch@mpi-cbg.de> <tim-oliver.buchholz@uni-konstanz.de>
Tobias Pietzsch <tobias.pietzsch@gmail.com>
