Andreas Graumann <andreas.graumann@uni-konstanz.de> <agraumann@biodataanalysis.de>
Aparna Pal <aparna.pal.1994@gmail.com>
Christian Dietz <christian.dietz@uni-konstanz.de>
Christian Dietz <christian.dietz@uni-konstanz.de> <dietzc85@googlemail.com>
Daniel Seebacher <daniel.seebacher@gmail.com> <danielseebacher@t-online.de>
Daniel Seebacher <daniel.seebacher@gmail.com> <seebacherd@users.noreply.github.com>
Ellen Arena <arenaellen@gmail.com>
Gabe Selzer <gabeselzer@gmail.com>
Gabriel Einsdorf <gabriel.einsdorf@uni.kn> <gabriel.einsdorf@uni-konstanz.de>
Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com> <Squareys@googlemail.com>
Kyle Harrington <kharrington@uidaho.edu> <kyleh@cs.brandeis.edu>
Leon Yang <leon.gh.yang@gmail.com> <leonyang1994@gmail.com>
Leon Yang <leonyang1994@gmail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Michael Zinsmaier <michael.zinsmaier@googlemail.com>
Richard Domander <rdomander@rvc.ac.uk>
Robert Haase <rhaase@mpi-cbg.de>
Robert Haase <rhaase@mpi-cbg.de> <rhaase@scicomp-mac-2-tb.mpi-cbg.de>
Robert Haase <rhaase@mpi-cbg.de> <rhaase@scicomp-mac-2-wifi.mpi-cbg.de>
Simon Schmid <simon.schmid@uni-konstanz.de>
Stefan Helfrich <stefan.helfrich@uni-konstanz.de> <s.helfrich@fz-juelich.de>
Stefan Helfrich <stefan.helfrich@uni-konstanz.de> <stefan.helfrich@googlemail.com>
Tim-Oliver Buchholz <tibuch@mpi-cbg.de>
Tim-Oliver Buchholz <tibuch@mpi-cbg.de> <tim-oliver.buchholz@uni-konstanz.de>
