Aparna Pal <aparna.pal.1994@gmail.com>
Christian Dietz <christian.dietz@uni-konstanz.de>
Christian Dietz <christian.dietz@uni-konstanz.de> <dietzc85@googlemail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com> <Squareys@googlemail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Michael Zinsmaier <michael.zinsmaier@googlemail.com>
