/*
 * #%L
 * ImageJ software for multidimensional image processing and analysis.
 * %%
 * Copyright (C) 2014 - 2015 Board of Regents of the University of
 * Wisconsin-Madison, University of Konstanz and Brian Northan.
 * %%
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 * #L%
 */

package net.imagej.ops.math;

import net.imagej.ops.AbstractOp;
import net.imagej.ops.Ops;

import org.scijava.ItemIO;
import org.scijava.plugin.Attr;
import org.scijava.plugin.Parameter;
import org.scijava.plugin.Plugin;

/**
 * Generated arithmetic ops with primitive types.
 *
 * @author Curtis Rueden
 */
public final class PrimitiveMath {

	private PrimitiveMath() {
		// NB: Prevent instantiation of utility class.
	}
#foreach ($type in $types)
#foreach ($op in $ops)
#if ($op.codes.contains($type.code))
#set ($iface = "Ops.Math.$op.name")

	/** Op that $op.verbs#if ($op.unary) a $type.primitive value#else two $type.primitive values#end. */
	@Plugin(type = ${iface}.class, name = ${iface}.NAME#if ($type.priority), priority = $type.priority#end#if ($op.aliases), attrs = { @Attr(name = "aliases", value = ${iface}.ALIASES) }#end)
	public static class $type.name$op.name extends AbstractOp
		implements $iface
	{
		@Parameter(type = ItemIO.OUTPUT)
		private $type.primitive result;

		@Parameter
		private $type.primitive a;
#if (!$op.unary)

		@Parameter
		private $type.primitive b;
#end

		@Override
		public void run() {
#if ($op.unary && $op.operator)
			result = ${op.operator}a;
#elseif ($op.unary)
			result = ${op.function}(a);
#elseif ($op.operator)
			result = a $op.operator b;
#else
			result = ${op.function}(a, b);
#end
		}
	}
#end
#end
#end

}
