/*
 * #%L
 * ImageJ software for multidimensional image processing and analysis.
 * %%
 * Copyright (C) 2014 - 2016 Board of Regents of the University of
 * Wisconsin-Madison, University of Konstanz and Brian Northan.
 * %%
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 * #L%
 */
package net.imagej.ops.map;

import static org.junit.Assert.assertEquals;

import net.imagej.ops.AbstractOpTest;
import net.imagej.ops.Op;
import net.imagej.ops.Ops;
import net.imagej.ops.map.MapBinaryInplace1s.IIAndII;
import net.imagej.ops.map.MapBinaryInplace1s.IIAndIIParallel;
import net.imagej.ops.map.MapBinaryInplace1s.IIAndRAI;
import net.imagej.ops.map.MapBinaryInplace1s.IIAndRAIParallel;
import net.imagej.ops.map.MapBinaryInplace1s.RAIAndII;
import net.imagej.ops.map.MapBinaryInplace1s.RAIAndIIParallel;
import net.imagej.ops.special.computer.Computers;
import net.imglib2.Cursor;
import net.imglib2.img.Img;
import net.imglib2.type.numeric.integer.ByteType;

import org.junit.Before;
import org.junit.Test;

/**
 * Tests for {@link MapBinaryInplace1}s.
 *
 * @author Leon Yang
 */
public class MapBinaryInplace1sTest extends AbstractOpTest {

	private Img<ByteType> in1;
	private Img<ByteType> in2;
	private Op add;
	private Img<ByteType> cellIn1;
	private Img<ByteType> cellIn2;

	@Before
	public void initImg() {
		in1 = generateByteArrayTestImg(true, 10, 10);
		in2 = generateByteArrayTestImg(false, 10, 10);
		for (ByteType px : in2)
			px.set((byte) 1);
		cellIn1 = generateByteTestCellImg(true, 20, 10);
		cellIn2 = generateByteTestCellImg(true, 20, 10);
		add = Computers.binary(ops, Ops.Math.Add.class, ByteType.class,
			ByteType.class, ByteType.class);
	}

## there are 3 combinations of binary maps: "all RAIs" is not included
#set ($count = 3)
#foreach ($argType in $types)
#foreach ($inType in $types)
#if ($count > 0)
#foreach ($parallel in ["", "Parallel"])
#set ($className = "${argType}And${inType}${parallel}")
	@Test
	public void test${className}() {
		final Img<ByteType> in1Copy = in1.copy();
		ops.run(${className}.class, in1Copy, in2, add);
		assertImgAddEquals(in1, in2, in1Copy);
	}

#end
#end
#set ($count = $count - 1)
#end
#end
#set ($count = 3)
#foreach ($argType in $types)
#foreach ($inType in $types)
#if ($count > 0)
#set ($className = "${argType}And${inType}Parallel")
	@Test
	public void test${className}CellImg() {
		final Img<ByteType> in1Copy = cellIn1.copy();
		ops.run(${className}.class, in1Copy, cellIn2, add);
		assertImgAddEquals(cellIn1, cellIn2, in1Copy);
	}

#end
#set ($count = $count - 1)
#end
#end
	// -- helper methods --

	private static void assertImgAddEquals(Img<ByteType> in1, Img<ByteType> in2,
		Img<ByteType> out)
	{
		final Cursor<ByteType> in1Cursor = in1.cursor();
		final Cursor<ByteType> in2Cursor = in2.cursor();
		final Cursor<ByteType> outCursor = out.cursor();

		while (in1Cursor.hasNext()) {
			assertEquals((byte) (in1Cursor.next().get() + in2Cursor.next().get()),
				outCursor.next().get());
		}
	}

}
