/*
 * #%L
 * ImageJ software for multidimensional image processing and analysis.
 * %%
 * Copyright (C) 2014 - 2016 Board of Regents of the University of
 * Wisconsin-Madison, University of Konstanz and Brian Northan.
 * %%
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 * #L%
 */

package net.imagej.ops.convert;

import static org.junit.Assert.assertTrue;
import static org.junit.Assert.assertEquals;

import java.math.BigInteger;

import net.imagej.ops.AbstractOpTest;
import net.imglib2.type.logic.BitType;
import net.imglib2.type.numeric.complex.ComplexDoubleType;
import net.imglib2.type.numeric.complex.ComplexFloatType;
import net.imglib2.type.numeric.integer.ByteType;
import net.imglib2.type.numeric.integer.IntType;
import net.imglib2.type.numeric.integer.LongType;
import net.imglib2.type.numeric.integer.ShortType;
import net.imglib2.type.numeric.integer.Unsigned128BitType;
import net.imglib2.type.numeric.integer.Unsigned12BitType;
import net.imglib2.type.numeric.integer.Unsigned2BitType;
import net.imglib2.type.numeric.integer.Unsigned4BitType;
import net.imglib2.type.numeric.integer.UnsignedByteType;
import net.imglib2.type.numeric.integer.UnsignedIntType;
import net.imglib2.type.numeric.integer.UnsignedLongType;
import net.imglib2.type.numeric.integer.UnsignedShortType;
import net.imglib2.type.numeric.real.DoubleType;
import net.imglib2.type.numeric.real.FloatType;

import org.junit.Test;

/**
 * Tests the {@link ConvertTypes} ops.
 *
 * @author Alison Walter
 */
public class TestConvertType extends AbstractOpTest{

#foreach ($bi in $biv)
	private final BigInteger $bi.name = $bi.v;
#end

#foreach ($toType in $types)
#set ($methodName = "Types.$toType.outMethod")
#set ($imgLibType = "$toType.imglibT" + "Type")
#if ($toType.op.equals("Cfloat32"))
#set ($getR = "getRealFloat()")
#set ($getI = "getImaginaryFloat()")
#else
#set ($getR = "getRealDouble()")
#set ($getI = "getImaginaryDouble()")
#end
#foreach ($fromType in $types)
#if ($fromType.built.contains("float") || $toType.built.contains("float"))
#set ($className = "ConvertTypes.ComplexTo$toType.op")
#else
#set ($className = "ConvertTypes.IntegerTo$toType.op")
#end
#set ($imgLibType2 = "$fromType.imglibT" + "Type")
#set ($first = "true")
	/** Tests {@link $className}. */
	@Test
	public void test${fromType.op}To${toType.op}() {

#foreach ($value in ${fromType.values})
#if ($first.equals("true"))
		final $imgLibType2 b = new $imgLibType2($value.v);
		final Object result = ops.run(${className}.class, b);
		assertTrue(result instanceof $imgLibType);
#if($toType.op.contains("C"))
		assertEquals($methodName($value.r), (($imgLibType) result).$getR, 0);
		assertEquals($methodName($value.i), (($imgLibType) result).$getI, 0);
#elseif ($toType.op.contains("Float"))
		assertEquals($methodName($value.r), (($imgLibType) result).get(), 0);
#elseif ($toType.op.equals("Uint64"))
		assertEquals($methodName($value.r), (($imgLibType) result).getBigInteger());
#else
		assertEquals($methodName($value.r), (($imgLibType) result).get());
#end
#set ($first = "false")
#else
		b.set($value.v);
#if($toType.op.contains("C"))
		assertEquals($methodName($value.r), (($imgLibType) ops.run(${className}.class, b)).$getR, 0);
		assertEquals($methodName($value.i), (($imgLibType) ops.run(${className}.class, b)).$getI, 0);
#elseif ($toType.op.contains("Float"))
		assertEquals($methodName($value.r), (($imgLibType) ops.run(${className}.class, b)).get(), 0);
#elseif ($toType.op.equals("Uint64"))
		assertEquals($methodName($value.r), (($imgLibType) ops.run(${className}.class, b)).getBigInteger());
#elseif ($toType.op.equals("Uint128") && $fromType.op.equals("Uint64") && $value.s)
		assertEquals(Types.uint64Uint128($value.r), (($imgLibType) ops.run(${className}.class, b)).getBigInteger());
#else
		assertEquals($methodName($value.r), (($imgLibType) ops.run(${className}.class, b)).get());
#end
#end

#end
	}

#end
#end
}
