/*
 * #%L
 * ImageJ software for multidimensional image processing and analysis.
 * %%
 * Copyright (C) 2014 - 2016 Board of Regents of the University of
 * Wisconsin-Madison, University of Konstanz and Brian Northan.
 * %%
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 * #L%
 */
package net.imagej.ops.map;

import net.imagej.ops.Contingent;
import net.imagej.ops.Ops;
import net.imagej.ops.Parallel;
import net.imagej.ops.thread.chunker.ChunkerOp;
import net.imagej.ops.thread.chunker.CursorBasedChunk;
import net.imglib2.IterableInterval;
import net.imglib2.RandomAccessibleInterval;

import org.scijava.Priority;
import org.scijava.plugin.Plugin;

/**
 * Auto generated {@link MapBinaryComputer}s.
 *
 * @author Leon Yang
 */
public class MapBinaryComputers {

	private MapBinaryComputers() {
		// NB: Prevent instantiation of utility class.
	}

#set ($priority = 7)
#foreach ($in1Type in $types)
#foreach ($in2Type in $types)
#foreach ($outType in $types)
## when $priority == 0, all types are RAI and should be skipped
#if ($priority > 0)
	/**
	 * {@link MapBinaryComputer} from {@link $in1Type.name} and
	 * {@link $in2Type.name} to {@link $outType.name}.
	 * 
	 * @param <EI1> element type of first inputs
	 * @param <EI2> element type of second inputs
	 * @param <EO> element type of outputs
	 */
	@Plugin(type = Ops.Map.class, priority = Priority.LOW + $priority)
	public static class ${in1Type.alias}And${in2Type.alias}To${outType.alias}<EI1, EI2, EO> extends
		AbstractMapBinaryComputer<EI1, EI2, EO, ${in1Type.name}<EI1>, ${in2Type.name}<EI2>, ${outType.name}<EO>>
		implements Contingent
	{
		@Override
		public boolean conforms() {
			return out() == null || Maps.compatible(in1(), in2(), out());
		}

		@Override
		public void compute(final $in1Type.name<EI1> input1,
			final $in2Type.name<EI2> input2, final $outType.name<EO> output)
		{
			Maps.map(input1, input2, output, getOp());
		}
	}

#set ($paraPrio = $priority + 10)
	/**
	 * Parallelized {@link MapBinaryComputer} from {@link $in1Type.name} and
	 * {@link $in2Type.name} to {@link $outType.name}.
	 * 
	 * @param <EI1> element type of first inputs
	 * @param <EI2> element type of second inputs
	 * @param <EO> element type of outputs
	 */
	@Plugin(type = Ops.Map.class, priority = Priority.LOW + $paraPrio)
	public static class ${in1Type.alias}And${in2Type.alias}To${outType.alias}Parallel<EI1, EI2, EO> extends
		AbstractMapBinaryComputer<EI1, EI2, EO, ${in1Type.name}<EI1>, ${in2Type.name}<EI2>, ${outType.name}<EO>>
		implements Contingent, Parallel
	{
		@Override
		public boolean conforms() {
			return out() == null || Maps.compatible(in1(), in2(), out());
		}

		@Override
		public void compute(final $in1Type.name<EI1> input1,
			final $in2Type.name<EI2> input2, final $outType.name<EO> output)
		{
			ops().run(ChunkerOp.class, new CursorBasedChunk() {
				@Override
				public void execute(final int startIndex, final int stepSize,
					final int numSteps)
				{
					Maps.map(input1, input2, output, getOp().getIndependentInstance(),
						startIndex, stepSize, numSteps);
				}
## find the parameter with type of IterableInterval
#if ($in1Type.alias == "II")
#set ($ii = "input1")
#elseif ($in2Type.alias == "II")
#set ($ii = "input2")
#else
#set ($ii = "output")
#end
			}, ${ii}.size());
		}
	}

#set ($priority = $priority - 1)
#end
#end
#end
#end
}
